div,
h1,
h2,
h3,
p {
	margin: 0;
}

.startPage {
	background: url('./assets/header2.jpg') no-repeat center center;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.company-name {
	font-size: 60px;
	color: white;
}

.jumbotron {
	text-align: center;
	padding: 0 !important;
}

.company-description {
	font-size: 20px;
	max-width: 100vw;
	margin: 0 auto;
	margin-bottom: 6px;
	color: white;
	background:rgba(0, 0, 0, 0.527);
}

.footer-container {
	color: #fff;
}

.footer-container h4 {
	text-decoration: underline red;
}

.footer-text {
	text-align: center;
	margin-bottom: 20px;
}

.shopping-cart {
	color: #fff;
	font-size: 30px;
	margin-right: 8px;
}

.footer-links a {
	text-decoration: none;
	color: white;
	position: relative;
}


.footer-links a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #f00;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}

.footer-links a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

.copy {
	font-size: 16px;
	padding: 20px;
	border-top: 1px solid #ffffff;
}

.notFoundTitle {
	font-size: 20vh;
	margin: 10px; 
}

.notFoundText {
	font-size: 3vw;
	margin: 10px;
}

.card {
	text-align: center;
	box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}

#cartQuantity {
	vertical-align: top !important;
	margin-left: -16px;
}

.emptyCart {
	position: relative;
	width: 100%; 
	height: 60vh;
	background: linear-gradient(231deg, rgba(0,0,0,1) 0%, rgba(130,130,130,1) 77%);
	text-align: center;
	color: white;
}

.cartItems {
	box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}

.card-img {
	max-height: 50vh;
	max-width: 50vh !important;
}

.productImage {
	max-height: 50vh;
	max-width: 74vw !important;
	box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}

.productDescription {
	margin: 15px;
}

@media screen and (min-width: 1000px) {
	.company-name {
		font-size: 8vw;
		text-align: start;
		margin-left: 20px;
		color: white;
	}

	.footer-border {
		border-left: solid 2px #ffffff1a;
	}

	.hover-zoom:hover {
		border: 1px solid black;
	}

	.company-description {
		font-size: 1.5vw;
		max-width: 60vw;
		margin: 20px;
		margin-bottom: 5px;
		text-align: start;
		color: white;
		background:rgba(0, 0, 0, 0.527);
	}

	.company-button {
		margin: 20px;
	}

	.jumbotron {
		text-align: start;
		padding: 0 !important;
	}
}

@media screen and (min-width: 760px) {
	.productContent {
		display: flex;
		max-width: 1140px;
		background: #fff;
		padding: 30px;
	}
}
